################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppSample/AppSample/bin/Debug/netstandard2.0
